@font-face {
  font-family: "Sansation";
  src: url("/resources/font/Sansation_Light.ttf") format("truetype");
}

html,
body {
  font-family: Sansation;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  color: #ffffff;
}

.header {
  height: 211px;
  background-image: url("/resources/terraza_logo.png");
  background-size: 25px;
}

.header .video video {
  width: 100%;
  height: 211px;
  object-fit: cover;
}

.header .video {
  position: relative;
}

.header .presentation_container {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 211px;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.4);
}

.header .presentation_container .logo img {
  height: 160px;
}

.events {
  display: flex;
  height: 230px;
  background-image: url("/resources/events.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.events .info {
  border: 2px solid #ffffff;
  height: 170px;
  width: 170px;
  display: grid;
  grid-template-rows: 25% 50% 25%;
}

.events .info .title {
  text-align: center;
  padding-top: 13px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 1px;
}

.events .info .text {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 0.9rem;
}

.events .info .show_events {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.7rem;
  padding-right: 10px;
}

.events .info .show_events img {
  padding-left: 5px;
  padding-top: 1.5px;
}

.menu {
  display: grid;
  grid-template-rows: 15% 75%;
  height: 320px;
  background-image: url("/resources/bar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.menu .menu_head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 2;
}

.menu .menu_head .option {
  padding-right: 23px;
}

.menu .menu_content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  height: calc(100% + 15%);
}

.menu .menu_content .first_column {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.menu .menu_content .second_column {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.column-header {
  font-size: 0.85rem;
  font-weight: 700;
  padding-left: 9px;
  text-decoration: underline;
  letter-spacing: 1px;
}

.column-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 10px;
  font-size: 0.7rem;
}

.menu .menu_content .more-info {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  cursor: pointer;
}

table {
  width: 90%;
}

table tr td {
  height: 1.15rem;
}

.more-info {
  display: flex;
  font-size: 0.7rem;
  justify-content: flex-end;
  align-items: center;
  padding-right: 23px;
}

.map {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
}

.logo img {
  height: 5rem;
  padding-left: 10px;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #131313;
}

.contact {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
}

.contact div h2 {
  font-size: 0.9rem;
  text-align: center;
}

.contact div p {
  font-size: 0.7rem;
  text-align: center;
}

.socialmedia {
  display: flex;
  justify-content: center;
}

.socialmedia img {
  padding: 3px;
}

/* Mobile */
@media screen and (min-width: 411px) {
  .header {
    height: 231px;
  }

  .header .video video {
    height: 231px;
  }

  .header .presentation_container {
    height: 231px;
  }

  .events {
    height: 250px;
  }

  .events .info {
    height: 180px;
    width: 180px;
  }

  .events .info .title {
    font-size: 1rem;
  }

  .events .info .text {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .events .info .show_events {
    font-size: 0.75rem;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .header {
    height: 432px;
  }

  .header .video video {
    height: 432px;
  }

  .header .presentation_container {
    height: 432px;
  }

  .header .presentation_container .logo img {
    height: 270px;
  }

  .events {
    height: 400px;
  }

  .events .info {
    height: 290px;
    width: 290px;
  }

  .events .info .title {
    font-size: 1.5rem;
  }

  .events .info .text {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
  }

  .events .info .show_events {
    font-size: 1.2rem;
  }

  .events .info .show_events img {
    padding-left: 5px;
    padding-top: 1.5px;
    height: 1.2rem;
  }

  .menu {
    height: 480px;
  }

  .menu .menu_head .option {
    padding-right: 60px;
    font-size: 1.35rem;
  }

  .column-header {
    font-size: 1.25rem;
    font-weight: 700;
    padding-left: 20px;
    text-decoration: underline;
    letter-spacing: 1.5px;
  }

  .column-content {
    padding-top: 15px;
    font-size: 1.2rem;
  }

  .menu .menu_content .more-info {
    font-size: 1.2rem;
  }

  .menu .menu_content .more-info img {
    height: 1.2rem;
    padding-left: 5px;
  }

  table {
    width: 90%;
  }

  table tr td {
    height: 1.7rem;
  }

  .map {
    height: 400px;
    font-size: 1.5rem;
  }

  .footer {
    height: 200px;
  }

  .logo img {
    height: 8rem;
    padding-left: 20px;
  }

  .contact div h2 {
    font-size: 1.5rem;
  }

  .contact div p {
    font-size: 1.2rem;
  }

  .socialmedia img {
    padding: 3px;
    height: 40px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .header {
    height: 75vh;
  }

  .header .video video {
    height: 75vh;
  }

  .header .presentation_container {
    height: 75vh;
  }

  .header .presentation_container .logo img {
    height: 300px;
  }

  .events {
    height: 550px;
    justify-content: left;
    padding-left: 100px;
  }

  .events .info {
    height: 335px;
    width: 335px;
  }

  .events .info .title {
    font-size: 1.8rem;
    padding-top: 30px;
  }

  .events .info .text {
    font-size: 1.3rem;
    line-height: 1.55rem;
    padding-left: 20px;
    padding-right: 20px;
  }

  .events .info .show_events {
    font-size: 1.2rem;
  }

  .events .info .show_events img {
    height: 1.3rem;
  }

  .menu {
    height: 600px;
  }

  .menu .menu_head .option {
    padding-right: 100px;
    font-size: 1.75rem;
    cursor: pointer;
  }

  .column-header {
    font-size: 1.55rem;
    padding-left: 30px;
    letter-spacing: 1.7px;
  }

  .column-content {
    padding-top: 20px;
    font-size: 1.35rem;
  }

  .menu .menu_content .more-info {
    font-size: 1.25rem;
  }

  .menu .menu_content .more-info img {
    height: 1.3rem;
  }

  table {
    width: 90%;
  }

  table tr td {
    height: 2rem;
  }

  .map {
    height: 600px;
    font-size: 1.5rem;
  }

  .footer {
    height: 200px;
  }

  .contact {
    width: 100%;
  }
}
